-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset:'UTF-8'}
    %meta{'http-equiv' => 'Content-Type', content:'text/html; charset=UTF-8'}
    %title 天気データマップ
    %meta{name:'viewport', content:'initial-scale=1.0, user-scalable=no'}
    %link{href:'css/AppM.css', type:'text/css', rel:'stylesheet'}

  %body
    %div#map.map

    - ['//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js',
       '//maps.google.com/maps/api/js?sensor=false',
       'js/modernizr.custom.43616.js',
       'js/jquery.mousewheel.js',
       'data/DataInfo.js',
       'js/AppM.js'].each do |src|
      %script{src:src, type:'text/javascript', charset:'UTF-8'}
